<section>
    <h1>{{title}}</h1>
    <h3>You Searched:</h3>
    <p>{{data.street}}, {{data.street2}}, {{data.city}}, {{data.state}} {{data.zip}}</p>
  
  <h1>Election Search Results</h1>
    <p>Election: {{responseData.description}}</p>
    <p>Date: {{responseData.date}}</p>
    <p>URL: <a href="{responseData[0].website}">{{responseData.website}}</a></p>

Click <a href="/">here</a> to Search again.
</section>