<section>
    <h1>{{title}}</h1>
    <h3>You Searched:</h3>
    <p>{{data.street}}, {{data.street2}}, {{data.city}}, {{data.state}} {{data.zip}}</p>
  
  <h1>Election Search Results</h1>
    <p>Election: {{electionDescription}}</p>
    <p>Date: {{electionDate}}</p>
    <p>URL: <a href="{electionURL}">{{electionURL}}</a></p>

Click <a href="/">here</a> to Search again.
</section>