<section>
    <h1>{{title}}</h1>
    <h3>You Searched:</h3>
    <p>Street: {{dataObject.street}}</p>
    <p>Street 2: {{dataObject.street2}}</p>
    <p>City: {{dataObject.city}}</p>
    <p>CA: {{dataObject.state}}</p>
    <p>Zip: {{dataObject.zip}}</p>
  
  <h1>Election Search Results</h1>

Click <a href="/">here</a> to Search again.
</section>