<section>
    <h1>{{title}}</h1>
    <h3>You Searched:</h3>
    <p>Street: {{data.street}}</p>
    <p>Street 2: {{data.street2}}</p>
    <p>City: {{data.city}}</p>
    <p>CA: {{data.state}}</p>
    <p>Zip: {{data.zip}}</p>
  
  <h1>Election Search Results</h1>
        <br>
        results will go here
        <br>
Click <a href="/">here</a> to Search again.
</section>